<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
 <div id="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
   <h5 class="logo my-0 mr-md-auto font-weight-normal"><a style="text-decoration: none; color: #333" href="index.html">MISSA影廳</a></h5>
   <nav class="my-2 my-md-0 mr-md-3">
     <a class="p-2 text-dark" href="viewmovie.html">瀏覽電影</a>
     <a class="p-2 text-dark need-login" href="cart.html">訂票紀錄</a>
   </nav>
   <div class="mr-2 show-on-logged"><span id="member-name" class="member-name"></span> 你好</div>
   <a class="m-1 btn btn-outline-primary need-login logout" href="login.html">登出</a>
   <a class="m-1 btn btn-outline-primary need-login" href="index_theater.html">後台</a>
   <a class="m-1 btn btn-outline-primary hide-on-logged" href="login.html">登入</a>
 </div>
 <script src="statics/js/logged-check.js"></script>