<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<div class="side-nav">
	<div class="nav-list">
		<a href="/NCU_MIS_SA/index_theater.html" class="nav-link">影廳管理</a> 
		<a href="/NCU_MIS_SA/index_meal.html" class="nav-link">套餐管理</a> 
		<a href="/NCU_MIS_SA/index_movie.html" class="nav-link">電影管理</a> 
		<a href="/NCU_MIS_SA/index_session.html" class="nav-link">場次管理</a>
		<a href="/NCU_MIS_SA/index_member.html" class="nav-link">使用者管理</a>
	</div>
    <a class="btn btn-outline-primary btn-xl text-uppercase" href="index.html">返回前台</a>
</div>