td{
  position: relative;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  height: 50px;
  min-width: 50px;
  padding: 10px;
}
th{
  position: relative;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.seat {
  background-color: #fff;
  border-radius: 3px;
}
.seat:hover{
  background-color: #bbb;
}
.wheel{
  background-color: blue;
  color: white;
  font-size: 20px;
}
.graph-area{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 6;
	flex-shrink: 0;
}
.input-form{
	flex: 270px;
	flex-shrink: 0;
}
table{
  background-color: black;
  border-collapse: separate;
  border-spacing: 15px;
}
.info-summary{
	padding: 20px 0;
}
.seat-controls{
  position: absolute;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  color: black;
  bottom: 70%;
  left: 50%;
  z-index: 10;
  width: 80px;
  visibility: hidden;
  background-color: #fff;
}
td:hover .seat-controls{
  visibility: visible;
}
th:hover .seat-controls{
  visibility: visible;
}
.controls{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}
.controls button{
	margin-left: 10px;
}